.Container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.Box__Main {
  width: 100%;
  height: 100%;
  background-color: var(--grey4);
}

.Section__Infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Box__Title {
  display: flex;
  gap: 5px;
  font-size: var(--fontSize2);
  color: var(--white);
  font-weight: var(--fontWeiExtraBold);
}
.Box__Title h1 {
  font-weight: var(--fontWeiExtraBold);
}
.Box__Title > span {
  color: var(--colorPrimary);
  font-weight: var(--fontWeiExtraBold);
}

.Box__Description {
  font-size: var(--fontSize1);
  font-weight: var(--fontWeiExtraBold);
  color: var(--white);
}

.Section__Infos > span {
  font-size: var(--headline);
  font-weight: var(--fontWeiRegular);
  color: var(--grey2);
}

.Section__Infos > button {
  width: 100%;
  max-width: 241px;
  height: 48px;
  align-self: center;
}

.Section__Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Section__Logo img {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .Container {
    flex-direction: row;
    max-width: 900px;
  }

  .Section__Infos {
    width: 45%;
  }

  .Section__Logo img {
    max-width: 500px;
  }
  .Section__Infos > button {
    align-self: flex-start;
  }
}
