main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1000px;
  gap: 32px;
}

main > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

main .ButtonModal {
  width: 100%;
  padding: 10px 0;
  align-self: center;
  margin-bottom: 20px;
  background-color: #548aff;
  border: solid 1px #548aff;
}
main > button:hover {
  background-color: #3471f3;
  border: solid 1px #548aff;
}

@media (min-width: 800px) {
  main {
    flex-direction: row;
  }
  main {
    flex-direction: row;
  }
  main .ButtonModal {
    display: none;
  }

  main > div {
    align-self: flex-start;
  }
  .List__Financial {
    margin-top: 50px;
    min-width: 60%;
    display: flex;
  }

  .Box__List {
    flex-direction: row;
  }

  .Box__List > h2 {
    text-align: center;
    width: 45%;
    color: var(--grey4);
  }

  .Box__Form__Main {
    flex-direction: row;
  }
}
