.Section__Total__Money {
  display: flex;
  padding: 20px 20px;
  border: 1px solid var(--grey3);
  border-radius: 4px;
}

.Section__Total__Money > h2 {
  color: var(--colorPrimary);
}

.Section__Total__Money > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 76%;
}

.Section__Total__Money > div > h3 {
  color: var(--grey4);
  font-size: 18px;
}

.Section__Total__Money > div > p {
  color: var(--grey3);
}
