body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --colorPrimary: #fd377e;
  --colorPrimary2: #e34981;
  --colorSecondary: #03b898;

  --grey4: #212529;
  --grey3: #868e96;
  --grey2: #e9ecef;
  --grey1: #f8f9fa;

  --fontSize0: 38px;
  --fontSize1: 28px;
  --fontSize2: 24px;
  --fontSize3: 20px;
  --fontSize4: 12px;
  --headline: 16px;

  --fontWeiBold: 700;
  --fontWeiRegular: 400;
  --fontWeiExtraBold: 800;
}
